    .container0{
        width: 100%;
        height: 100vh;
        background-image: url(images/portada.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }

    .navbar{
        width:80%;
        margin: auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
    }
    
    .logo{
        width: 130px;
        cursor: pointer;
    }
    .logo:hover{
        transform: scale(0.75);
    }
    
    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    .navbar ul li a{
        text-decoration: none;
        color:black;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 16px;
    }
    
    .navbar ul li::before{
        content: "";
        height: 3px;
        width: 0%;
        background-color: purple;
        position: absolute;
        left:0;
        bottom:-12px;
        transition: 0.4s ease-out;
    }
    
    .navbar ul li:hover::before{
        width: 100%;
    }

    .navbar ul li::content{
        color: purple;
    }


    .Bienvenida3 h1 {
        font-family: "Times New Roman", serif;
        font-size: 40px;
        color:purple;
        text-align: center;
        background-color: wheat;
        padding: 20px;
        margin: 0;
    }
    .card {
        background-color: #fff;
        border-radius: 10px;
        padding: 50px;
        width: 350px;
        display:inline-flex;
        flex-direction:column;
        float: right;
        margin-right: 10%;
    }
    .title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .group {
        position: relative;
    }
    .form .group label {
        font-size: 14px;
        color: rgb(99, 102, 102);
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #fff;
        transition: all .3s ease;
    }
    .form .group input,
    .form .group textarea {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        outline: 0;
        width: 100%;
        background-color: transparent;
    }
    .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
        top: 10px;
        background-color: transparent;
    }
    .form .group input:focus,
    .form .group textarea:focus {
        border-color: #3366cc;
    }
    .form .group input:focus+ label, .form .group textarea:focus +label {
        top: -10px;
        left: 10px;
        background-color: #fff;
        color: #3366cc;
        font-weight: 600;
        font-size: 14px;
    }
    .form .group textarea {
        resize: none;
        height: 100px;
    }
    .form button {
        background-color: #3366cc;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .form button:hover {
        background-color: #27408b;
    }
    .emi{
        display: inline-block;
        color:beige;
        font-size: 30px;
        font-weight: bold;
        background-color: black;
        border-radius: 10px;
        margin-left: 5%;
        text-align: center;
    }
    